body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-img {
    width: 87px;
    height: 73px;
}

.img-editProfile {
    width: 270px;
    height: 200px;
}

.cover-img {
    width: 90%;
    height: 400px;
}

.userImagesContainer {
    position: relative;
    width: 100%;
    height: 325px;
    background: #f8f8f8;
}

.userProfileImage {
    position: relative;
    top: 4%;
    left: 1%;
    width: 20%;
    max-height: 228px;
    border: 2px solid #f8f8f8;
    overflow: hidden;
    z-index: 998;
}

.userCoverImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 997;
}

.userProfileImage > img, .userCoverImage > img {
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}
.userProfileImage > img {
    height: 250px;
}

.wallOwnerName > h2 {
    padding: 0 2% 0 2%;
    color: #222;
}

.post-item {
    width: 960px; margin: 0 auto 15px; overflow: hidden; zoom: 1; }

.post-item header img { float: left; margin-right: 5px; }

.post-item header div span { float: left; margin-left: 5px; }

.post-edit-buttons { display: block;
    float: left; clear:both; margin-top:5px; }

.user-preview { position: relative; }
.user-preview-popup { position: absolute; top:100%; left: 50%; background: #fff; border: 1px solid #000; height: 60px; width: 210px;  }
.user-preview-popup img { float: left; height: 100%; width: auto; }
.user-preview-popup span,
.user-preview-popup button { float: left; display:block; clear: right; }

.post-form { text-align: center; }
.post-form input[type="text"] {
    width: 960px; display: inline-block; }

.friends-list { width:960px; margin: 0 auto;  }
.friends-list ul { list-style: none; }
.friends-list li { width: 150px; float: left; text-align: center; }
.friends-list li ~ li { margin-left: 50px; }
.friends-list li img { display: inline-block; width: 100% height: auto; }
.friends-list li span { display: block; text-align: center; }

.navbar {
    background-color: aqua;
}

.navbar-nav > li > a {
    color: #000 !important;
}


.friendsFullViewContainer {
    padding: 0 2%;
}

.friendsFullViewFilterContainer {
    padding: 2%;
}

.friendsFullViewListContainer {
    width: 100%;
    padding: 0 2%;
}

.friendsList {
    width: 100%;
    border: 1px solid black;
}

.friend {
    display: inline-block;
    padding: 1%;
    width: 28%;
    margin: 2% 2% 0 0;
    vertical-align: middle;
    border: 2px solid #ccc;
}

.friendName {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
}

.friendProfileImage {
    display: inline-block;
    width: 7em;
    max-width: 7em;
    max-height: 7em;
    vertical-align: middle;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}

.search-results { width: 960px; clear: both; margin: 0 auto; list-style: none; margin-bottom: 20px; }
.search-results li { margin-top: 10px; }
.search-results li ~ li { border-top: 1px dotted #000 }

.search-results .user-preview  { display: inline-block; }