<div>
    <form >
        <div>
            <h3>Change profile password</h3>
        </div>

        <div>
            <label>Old Password:</label>
            <input type="password" name="oldPassword" ng-model="editedPassword.oldPassword"/>
        </div>
        <div>
            <label>New Password:</label>
            <input type="password" name="newPassword" ng-model="editedPassword.newPassword"/>
        </div>
        <div>
            <label>Confirm new Password:</label>
            <input type="password" name="confirmPassword" ng-model="editedPassword.confirmPassword"/>
        </div>

        <div >
            <button ng-click="editPassword(editedPassword)">Submit changes</button>
        </div>
        </form>
</div>