<li ng-repeat="request in friendRequests">
    <a href="#/users/{{request.user.username}}">
        <img ng-src="{{request.user.profileImageData}}" alt="">
		<span>
			<a href="#/users/{{request.user.username}}/">{{request.user.name}}</a>
			<span> wants to be your friend.</span>
		</span>
    </a>
	<span>
		<button ng-click="approveRequest(request.id)">Accept</button>
		<button ng-click="rejectRequest(request.id)">Reject</button>
	</span>
</li>
<span>
	<button href="" ng-click="hideRequests()">Hide requests</button>
</span>