<div ng-if="friendsViewOptionAvailable">
    <h1>{{wallOwner.name}} has {{friends.length}} friends</h1>
	<span>
		<label>Filter friends by name: </label>
		<input type="text" ng-model="filterNameValue">
	</span>
    <ul>
        <li ng-repeat="friend in friends | filter: {name: filterNameValue}">
            <img ng-src="{{friend.profileImageData}}" alt="{{friend.name}}" />
            <span user-preview user-username="friend.username" user-name="friend.name"></span>
        </li>
    </ul>
</div>