

<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control"  ng-model="user.username" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" ng-model="user.password" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block"  ng-click="login(user)" type="submit">Sign in</button>
        <a class="btn btn-lg btn-block" href="#/register" class="link">Register</a>
    </form>

</div> <!-- /container -->