<div class="box">
    <h2>Login</h2>
    <p>
        <label for="username">Username:</label>
        <input type="text" id="username" ng-model="user.username" placeholder="Username" required />
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" id="password" ng-model="user.password" placeholder="Password" required />
    </p>
    <p>
        <a ng-click="login(user)" class="btn">Login</a>
        <a href="#/register" class="link">Register</a>
    <p>
</div>