<div ng-repeat="post in posts">
    <header>
        <img ng-src="{{post.author.profileImageData}}" />

        <div>
            <span user-preview user-username="post.author.username" user-name="post.author.name"></span>
            <span> posted to </span>
            <span user-preview user-username="post.wallOwner.username" user-name="post.wallOwner.name"></span>
            <span> wall</span>
        </div>
        <dt>{{post.date}}</dt>
    </header>
    <section>
        <p>{{post.postContent}}</p>
    </section>
    <footer>

        <section class="postContent">
            <textarea class="editPostTextarea" ng-if="editPostContainer[post.id]" ng-model="editPostContainer[post.id]"></textarea>
            <span ng-if="!editPostContainer[post.id]">{{post.postContent}}</span>
        </section>
        <p>
            <span>Likes: {{post.likesCount}}</span>
            <span>Comments: {{post.totalCommentsCount}}</span>

			<span ng-if="post.likeDislikeOptionAvailable">
				<button ng-if="!post.liked" ng-click="likePost(post.id)">Like&nbsp;&#128077;</button>
				<button ng-if="post.liked" ng-click="unlikePost(post.id)">Unlike&nbsp;&#128078;</button>
			</span>

			<span ng-if="post.commentOptionAvailable">
				<button ng-click="commentPost(postId)">Comment&nbsp;&#x270E;</button>
			</span>
        <div ng-if="post.editOptionAvailable">
            <button ng-if="!editPostContainer[post.id]" ng-click="enableEditPost(post)">Edit&nbsp;&#x270E;</button>
            <div ng-if="editPostContainer[post.id]">
                <button ng-click="editPost(post)">Save&nbsp;&#128078;</button>
                <button ng-click="cancelEditPost(post)">Cancel&nbsp;&#x2718;</button>
            </div>
        </div>
			<span ng-if="post.deleteButtonAvailable">
				<button ng-click="deletePost(post.id)">Delete&nbsp;&#x2718;</button>
			</span>
        </p>
    </footer>
</div>

<h2 ng-if="posts.length == 0">No posts on this user's wall. :/</h2>